@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700&display=swap');

$bgBlack : #0a0a0a;
$bgGray : #242424;
$bgLightGray : #ecf2f7;
$h1Pink : #ff5675;
$Gradient1 : #de4a6c; // button bg
$Gradient2 : #9378a1; // social media icon 
$textGray : #bfbfbf;

// gradient 

$colorMix: linear-gradient(95deg, $Gradient1, $Gradient2);

// font 

$ffText : 'Golos Text', sans-serif;
$ffparagraph : 'Poppins', sans-serif;
$ffheader : 'Kanit', sans-serif;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: .05rem;
}

p, span, div, a, ul, li {
    font-family: $ffparagraph;
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $ffheader;
    color: $Gradient1;
}
p {
    letter-spacing: .1rem;
    line-height: 2rem;
}

@mixin DFlex($val:0,$val2:0, $val3:0){
    display: flex;
    @if($val==0){
        flex-direction: column;
    }
    @else if($val==1){
        flex-direction: row;
    }
    @else if($val==2){
        flex-direction: column-reverse;
    }
    @else if($val==4){
        flex-direction: row-reverse;
    }
    @if($val2==0){
        justify-content: center;
    }
    @else if($val2==1){
        justify-content: flex-start;
    }
    @else if($val2==2){
        justify-content: flex-end;
    }
    @if($val3==0){
        align-items: center;
    }
    @else if($val3==1){
        align-items: flex-start;
    }
    @else if($val3==2){
        align-items: flex-end;
    }
}
@mixin useSelectNone() {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* width */
::-webkit-scrollbar {
    width: .8rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $bgGray; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $bgGray;
    border: .1px solid $Gradient2;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $bgBlack; 
  }


main {
    background: $bgBlack;
    width: 100%;
    min-height: 800px;
    @include DFlex();
    justify-content: flex-start;
}

// header 

header {
    width: 100%;
    background: $colorMix;
    padding-top: .2rem;
    padding-bottom: 1.5rem;
    border-radius: 0 0  1rem 1rem;
    // animation 
    animation-name: hBg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    .headerImg {
        background-image: url("../img/Untitled-2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        mix-blend-mode: lig;
        width: 100%;
        height: 15vw;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        padding: 0 5%;
        box-shadow: 0px 0px 15px -5px $bgBlack inset;
        div {
            width: calc(5rem + 8vw);
            height: calc(5rem + 8vw);
            background: $colorMix;
            border-radius: 50%;
            padding: .3rem;
            margin-bottom: -3rem;
            box-shadow: -5px 10px 30px -5px $bgBlack;
            z-index: 2;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
    .headerIcerik {
        border-radius: 0 0  1.5rem 1.5rem;
        @include DFlex();
    }
}

.headerText {
    background: $bgGray;
    width: 100%;
    padding: 1.5rem 10%;
    z-index: 1;
    h1 {
        margin-bottom: 1.5rem;
    }
    p {
        color: $textGray;
        margin-bottom: 1rem;
    }
}
// section 

section {
    width: 100%;
    padding: 1rem;
    .icons {
        width: 100%;
        @include DFlex(1,2,0);
        gap: 1rem;
    }
}
// boxlar 

.Kapsam {
    background: $bgBlack;
    overflow: hidden;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;
    padding: 1rem;
}

.Kapsam li {
    background: $bgGray;
    box-shadow: 1px 1px 5px $bgGray;
    width: calc((100% - 2rem) / 3);
    min-height: 250px;
    border-radius: 1rem;
}

.Kapsam {
    li {
        @include DFlex(0,1,0);
        gap: 1.5rem;
        background: $colorMix;
        padding: .2rem;
        .icerik {
            width: 100%;
            background: $bgGray;
            border-radius: 1rem;
        }
        .img {
            width: 100%;
            overflow: hidden;
            cursor: pointer;
        }
        img {
            width: 100%;
            height: auto;
        }
        .img, img {
            border-radius: .7rem;
        }
        .text {
            padding: 1rem;
            h1 {
                color: $Gradient1;
                margin-bottom: 1rem;
            }
            p {
                color: $textGray;
            }
        }
    }
}

.icons {
    width: 100%;
    @include DFlex(1);
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;
}

svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: #9378a1;
    transition: .4s ease-in-out;
}

.icerik {
    .icons {
        position: relative;
    }
}

svg ~ span {
    position: absolute;
    top: 50%;
    width: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 1rem;
    display: none;
    padding: .5rem 0;
    background: $Gradient1;
    color: white;
}

svg:hover {
    fill: $Gradient2;
    animation-name: aHover;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

svg:hover ~ span {
    display: inline;
}

// footer 

footer {
    background: $colorMix;
    width: 100%;
    padding-top: 2rem;
    border-radius: 1rem 1rem 0 0;
    padding-bottom: .2rem;
    .footerIcerik {
        background: $bgGray;
        border-radius: 1.5rem 1.5rem 0 0;
        @include DFlex();
        padding: 2rem 0;
        color: $textGray;
        p {
            margin-bottom: 1rem;
            a {
                color: $Gradient1;
                transition: .3s ease-in-out;
            }
            a:hover {
                color: $Gradient2;
            }
        }
        .SendBtn {
            background: $Gradient1;
            @include DFlex(1);
            justify-content: space-evenly;
            color: $bgLightGray;
            width: 12rem;
            padding: .5rem 1rem;
            border-radius: 1rem;
            border: 2px groove $bgLightGray;
            transition: .3s ease-in-out;
            svg {
                fill: $bgLightGray;
                animation: none;
            }
        }
        .SendBtn:hover {
            background: $Gradient2;
        }
    }
}


// responsive 

@media(max-width:1200px) {
    .Kapsam {
        li {
            width: calc((100% - 1rem) / 2);
        }
    }
}

@media(max-width:920px) {
    header {
        .headerImg {
                height: 30vw;
                justify-content: center;
                align-items: center;
                div {
                    margin: 0;
                }
                }
            }
    header {
        .headerImg {
            background-image: url("../img/Untitled-3.png");
            }
        }
}

@media(max-width:720px) {
    // header
    header {
        .headerImg {
                height: 50vw;
                }
            } 
    // boxlar 
    .Kapsam {
        li {
            width: 100%;
        }
    }
    p, span, div, a, ul, li {
        font-size: .8rem;
    }
    header {
        .headerImg {
            background-image: url("../img/Untitled-4.png");
            }
        }
}

@keyframes aHover {
    from {
        fill: $Gradient2;
        margin-top: 0;
    }
    to {
        fill: $Gradient1;
        margin-top: -.5rem;
    }
}

@keyframes hBg {
    0% {
        background: linear-gradient(95deg, $Gradient1, $Gradient2);
    }
    25% {
        background: linear-gradient(95deg, $Gradient2, $Gradient1);
    }
    50% {
        background: linear-gradient(185deg, $Gradient1, $Gradient2);
    }
    75% {
        background: linear-gradient(1855deg, $Gradient2, $Gradient1);
    }
    100% {
        background: linear-gradient(95deg, $Gradient2, $Gradient1);
    }
}