@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// Colors
// Primary
$Verylightred: hsl(355, 100%, 74%); // (CTA hover background)
$Verydarkblue: hsl(208, 49%, 24%); // (headings)
// Neutral
$White: hsl(0, 0%, 100%); // (text)
$Grayishblue: hsl(240, 2%, 79%); // (footer text)
$Verydarkgrayishblue: hsl(207, 13%, 34%); // (body copy)
$Verydarkblackblue: hsl(240, 10%, 16%); // (footer background)
// Gradient
// Background gradient - Intro/CTA mobile nav:
$Verylightred: hsl(13, 100%, 72%);
$Lightred: hsl(353, 100%, 62%); // (CTA text)
// Background gradient - body:
$Verydarkgrayblue: hsl(237, 17%, 21%);
$Verydarkdesaturatedblue: hsl(237, 23%, 32%);
// Typography
// Body Copy
$FontSize: 16px;
$OverPass : 'Overpass', sans-serif;
$Ubuntu : 'Ubuntu', sans-serif;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: .05rem;
    font-family: $Ubuntu;
}

p, span, div, a, ul, li {
    font-size: 16px;
}

@mixin DFlex($val:0,$val2:0, $val3:0){
    display: flex;
    @if($val==0){
        flex-direction: column;
    }
    @else if($val==1){
        flex-direction: row;
    }
    @else if($val==2){
        flex-direction: column-reverse;
    }
    @else if($val==4){
        flex-direction: row-reverse;
    }
    @if($val2==0){
        justify-content: center;
    }
    @else if($val2==1){
        justify-content: flex-start;
    }
    @else if($val2==2){
        justify-content: flex-end;
    }
    @if($val3==0){
        align-items: center;
    }
    @else if($val3==1){
        align-items: flex-start;
    }
    @else if($val3==2){
        align-items: flex-end;
    }
}

@mixin useSelectNone() {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@mixin p {
    line-height: 1.7rem;
    width: 85%;
}

@mixin sectionMargin() {
    margin-top: 10%;
    margin-bottom: 5%;
}

@mixin colRelative() {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@mixin h3() {
    color: $Verydarkblue;
    margin-bottom: 1rem;
    font-size: 32px;
    font-weight: 400;
}

.imgMobile {
    display: none;
}

header {
    min-height: 44vw;
    @include DFlex(0,1);
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    width: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left 20% bottom 50%;
    position: relative;
    border-radius: 0 0 0 10rem;
    .bgheader {
      background: linear-gradient(90deg,$Verylightred,$Lightred);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 0 0 0 10rem;
    }
    nav {
        width: 80%;
        @include DFlex(1);
        padding: 1rem;
        gap: 1.5rem;
        margin-top: 40px;
        margin-bottom: 10%;
        ul {
            @include DFlex(1);
            justify-content: space-between;
            width: 100%;
            .NavBody {
                @include DFlex(1);
                gap: 1.5rem;
                li {
                    .ListItemHeader {
                        @include DFlex(1);
                        justify-content: space-between;
                        min-width: 100px;
                        color: $White;
                        cursor: pointer;
                        img {
                            transition: .3s ease;
                        }
                    }
                    ul {
                        @include DFlex();
                        display: none;
                        padding: 1rem;
                        gap: 1rem;
                        transition: .3s ease;
                    }
                    ul.active {
                        display: flex;
                        animation-name: navShow;
                        animation-duration: 3s;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }
                }
                .ListItemHeader img.rotate {
                    transform: rotate(180deg);
                }
            }
            .navFooter {
                @include DFlex(1);
                gap: 1rem;
            }
        }
    }
    .headerBody {
        text-align: center;
        color: $White;
        h1 {
            font-size: calc(2.5rem + 0.8vw);
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 2.5rem;
        }
    }
}

// section 1 
 #Section1 {
    @include sectionMargin();
    h2 {
        color: $Verydarkblue;
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: 500;
    }
    .sectionBody {
        width: 100%;
        @include DFlex(1);
        margin-top: -10%;
        .ColLeft {
            padding-left: 10%;
            width: 100%;
            h3 {
                @include h3();
            }
            p {
                color: $Verydarkgrayblue;
                @include p();
                margin-bottom: 2rem;
            }
        }
        .colRight {
            @include colRelative();
            img {
                position: absolute;
                right: -30%;
            }
        } 
    }
}

// section 2 

#Section2 {
    background: $Verydarkgrayblue;
    @include DFlex(1);
    border-radius: 0 10rem 0 10rem;
    .colRight {
        width: 100%;
        padding-right: 15%;
        h3 {
            font-size: 32px;
            color: $White;
            margin-bottom: 1.5rem;
        }
        p {
            @include p();
            color: $Grayishblue;
        }
    }
    .ColLeft {
        width: 100%;
        position: relative;
        @include DFlex(0);
        background-image: url("../images/bg-pattern-circles.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom 10% left 0;
        height: 40vh;
        border-radius: 0 10rem 0 10rem;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50% ,-50%);
        }
    }
}

// section 3

#Section3 {
    @include sectionMargin();
    @include DFlex(1);
    .colRight {
        width: 100%;
        h3 {
            @include h3();
        }
        p {
            @include p();
            color: $Verydarkblackblue;
            margin-bottom: 1.5rem;
        }
    }
    .ColLeft {
        @include colRelative();
        width: 100%;
        img {
            position: absolute;
            left: -29%;
        }
    }
}

// footer 

footer {
    width: 100%;
    background: $Verydarkblackblue;
    border-radius: 0 10rem 0 0;
    @include DFlex(0);
    .FooterNav {
        border-radius: 0 10rem 0 0;
        padding: 5rem 0;
        width: 80%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 1rem;
        li {
            h4 {
                font-size: 26px;
                color: $White;
                margin-bottom: 1rem;
            }
            ul {
                li {
                    margin-bottom: .5rem;
                    color: $Grayishblue;
                    cursor: pointer;
                    transition: .3s ease;
                }
                li:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .attribution {
        width: 100%;
        padding: 1rem 0;
        background: $Verydarkdesaturatedblue;
        text-align: center;
        color: $Grayishblue;
        a {
            color: $White;
            transition: .3s ease;
        }
        a:hover {
            color: $Verylightred;
        }
    }
}

.aBtnDark, .aBtnLight {
    padding: 1rem 1.3rem;
    border-radius: 5rem;
    text-align: center;
    transition: .3 ease;
    border: 1.5px solid transparent;
}
.aBtnDark {
    background: $White;
    color: $Lightred;
    font-weight: bolder;
}

.aBtnDark:hover {
    background: $Verylightred;
    color: $White;
}

.aBtnLight {
    color: $White;
    background: transparent;
    font-weight: normal;
}

.aBtnLight:hover {
    background: $White;
    color: $Lightred;
}

@media(min-width:990px) {
    header {
        nav {
            ul {
                .NavBody {
                    li {
                        position: relative;
                        ul {
                            position: absolute;
                            min-width: 150px;
                            left: -30%;
                            margin-top: 1rem;
                            border-radius: 1rem;
                            background: $White;
                            color: $Verydarkgrayishblue;
                            li {
                                transition: .3s ease;
                            }
                            li:hover {
                                color: $Verydarkblue;
                                cursor: pointer;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1600px) {
    #Section1 {
        .sectionBody {
            .colRight {
                img {
                    right: -40%;
                }
            } 
        }
    }
    #Section3 {
        .ColLeft {
            img {
                left: -40%;
            }
        }
    }
}

@media (max-width:1400px) {
    #Section1 {
        .sectionBody {
            .colRight {
                img {
                    right: -50%;
                }
            } 
        }
    }
    #Section3 {
        .ColLeft {
            img {
                left: -50%;
            }
        }
    }
}

@media (max-width:1300px) {
    #Section1 {
        .sectionBody {
            .colRight {
                img {
                    right: -60%;
                }
            } 
        }
    }
    #Section3 {
        .ColLeft {
            img {
                left: -60%;
            }
        }
    }
}

@media (max-width:1200px) {
    #Section1 {
        .sectionBody {
            .colRight {
                img {
                    right: -80%;
                }
            } 
        }
    }
    #Section2 {
        gap: 2rem;
    }
    #Section3 {
        .ColLeft {
            img {
                left: -80%;
            }
        }
    }
}

@media (max-width:1100px) {
    #Section1 {
        .sectionBody {
            margin-top: 2rem;
            .colRight {
                height: 60vh;
                img {
                    height: 100%;
                    right: -30%;
                }
            } 
        }
    }
    #Section3 {
        .ColLeft {
            height: 60vh;
            img {
                height: 100%;
                left: -50%;
            }
        }
    }
}

@media(max-width:990px) {
    .imgMobile {
        display: block;
    }
    .imgDesktop {
        display: none;
    }
    header {
        height: 80vh;
        background-image: url("../images/bg-pattern-intro-mobile.svg");
        background-position: center;
        position: relative;
        nav {
            margin-bottom: 25%;
            .NavHeader {
                width: 100%;
                @include DFlex(1);
                justify-content: space-between;
                .imgMobile {
                    cursor: pointer;
                }
            }
            #NavItems {
                display: none;
                position: absolute;
                width: 80%;
                left: 50%;
                top: 65%;
                transform: translate(-50%,-50%);
                background: $White;
                color: $Verydarkgrayishblue;
                flex-direction: column;
                padding: 2rem;
                height: 80vh;
                justify-content: space-evenly;
                box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.411);
                .NavBody {
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    .ListItemHeader {
                        justify-content: center;
                        gap: 1rem;
                        margin-bottom: .5rem;
                    }
                    li {
                        width: 100%;
                        justify-content: center;
                        span {
                            color: $Verydarkblackblue;
                        }
                        ul {
                            background: $Grayishblue;
                            text-align: center;
                            li {
                                cursor: pointer;
                                transition: .3s ease;
                            }
                            li:hover {
                                color: $Lightred;
                            }
                        }
                    }
                }
                .navFooter {
                    flex-direction: column;
                    gap: 2rem;
                    li {
                        .aBtnLight {
                            color: $Verydarkblue;
                        }
                        .aBtnLight:hover {
                            color: $Lightred;
                        }
                    }
                }
            }
        }
    }
    #Section1 {
        h2 {
            margin-bottom: 5rem;
        }
        margin-bottom: 40%;
        .sectionBody {
            margin-top: 1.5rem;
            @include DFlex();
            flex-direction: column-reverse;
            .ColLeft {
                margin-top: 1.5rem;
                padding: 0 10%;
                width: 100%;
                text-align: center;
                p {
                    width: 100%;
                }
            }
            .colRight {
                width: 100%;
                @include DFlex(1);
                padding: 0 5%;
                height: 100%;
                img {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            } 
        }
    }
    #Section2 {
        flex-direction: column;
        .ColLeft {
            img {
                width: 100%;
            }
        }
        .colRight {
            padding: 5%;
            margin-top: 20%;
            margin-bottom: 10%;
            text-align: center;
            p {
                width: 100%;
            }
        }
    }
    #Section3 {
        flex-direction: column;
        .ColLeft {
            height: 100%;
            @include DFlex();
            padding: 0 5%;
            img {
                position: relative;
                left: 0;
            }
        }
        .colRight {
            margin-top: 1.5rem;
            padding: 0 10%;
            width: 100%;
            text-align: center;
            p {
                width: 100%;
            }
        }
    }
    footer {
        .FooterNav {
            grid-template-columns: auto auto;
            gap: 1.5rem;
        }
    }
}

@media(max-width:600px) {
    header {
        padding: 0 1rem;
        nav {
            width: 100%;
            margin-bottom: 40%;
        }
        .headerBody {
            h1 {
                font-size: 2em;
            }
        }
    }
    #Section1 {
        .sectionBody {
            .ColLeft {
                h3 {
                   font-weight: 700;
                   line-height: 2.5rem;
                }
            }
        }
    }
    #Section2 {
        .ColLeft {
            height: 20vh;
        }
    }
    #Section3 {
        .colRight {
            h3 {
               font-weight: 700;
               line-height: 2.5rem;
            }
        }
}
    footer {
        .FooterNav {
            grid-template-columns: auto;
            text-align: center;
        }
    }
}

@keyframes navShow {
    from {
        display: none;
        background: $White;
    }
    to {
        display: flex;
    }
}