@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  font-family: "Open Sans", sans-serif;
}

p, span, div, a, ul, li {
  font-size: 14px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #181f2a;
}
main nav {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #202a3c;
}
main nav .logo {
  width: 150px;
  height: 52px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
main nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
main nav ul li a {
  color: #b6bdc5;
  transition: 0.4s ease;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  letter-spacing: 0.15rem;
}
main nav ul li a:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}
main header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 10%;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: center bottom;
  background-color: #202a3c;
  width: 100%;
}
main header .image {
  width: 36vw;
  height: 26.7vw;
}
main header .image img {
  width: 100%;
  height: 100%;
}
main header h1, main header p {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
main header h1 {
  width: 40%;
}
main header p {
  width: 30%;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
  line-height: 1.5rem;
}
main header a {
  background: linear-gradient(90deg, #65e2d9, #339ecc, #339ecc);
  color: hsl(0, 0%, 100%);
  width: 20%;
  padding: 1rem 0;
  text-align: center;
  border-radius: 5rem;
  transition: 0.6s ease-in;
}
main header a:hover {
  background: linear-gradient(90deg, #65e2d9, #65e2d9);
}
main section, main footer {
  width: 100%;
}
main #section1 {
  padding: 0 15%;
}
main #section1 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 5rem;
}
main #section1 ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
main #section1 ul li .img {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 1rem;
}
main #section1 ul li h3, main #section1 ul li p {
  color: hsl(0, 0%, 100%);
  text-align: center;
}
main #section1 ul li h3 {
  margin-bottom: 0.5rem;
}
main #section2 {
  margin: 10% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10%;
  gap: 5vw;
}
main #section2 .image {
  width: 100%;
}
main #section2 .image img {
  width: 100%;
}
main #section2 .sectionText {
  width: 100%;
}
main #section2 .sectionText h2, main #section2 .sectionText p {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}
main #section2 .sectionText h2 {
  font-size: calc(16px + 1vw);
  width: 50%;
}
main #section2 .sectionText p {
  line-height: 1.5rem;
  width: 80%;
}
main #section2 .sectionText a {
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  padding-bottom: 0.2rem;
}
main #section2 .sectionText a svg {
  margin-bottom: -0.2rem;
}
main #section2 .sectionText a:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}
main #section2 .sectionText a:hover svg use {
  fill: hsl(0, 0%, 100%);
}
main #section3 {
  padding: 0 10%;
}
main #section3 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
  padding: 33px 10px;
}
main #section3 ul li {
  background: #202a3c;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  width: 100%;
}
main #section3 ul li q {
  display: block;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
}
main #section3 ul li div .image {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  float: left;
  margin-right: 1rem;
}
main #section3 ul li div .image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
main #section3 ul li div i {
  font-style: normal;
  font-size: 12px;
  font-weight: 100;
  color: #b6bdc5;
}
main #section4 {
  margin-top: 10%;
  margin-bottom: -8%;
  width: 60%;
  text-align: center;
  background: #1c2431;
  padding: 3vw 5vw;
  border-radius: 1rem;
  z-index: 2;
  color: hsl(0, 0%, 100%);
}
main #section4 h2 {
  font-size: calc(16px + 1.5vw);
  margin-bottom: 1.5rem;
}
main #section4 p {
  line-height: 1.5rem;
}
main #section4 form {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
main #section4 form input {
  width: 70%;
  height: 3rem;
  border-radius: 1rem;
  outline: none;
  padding: 0.5rem;
  border: 3px solid transparent;
  color: #b6bdc5;
}
main #section4 form input:focus {
  border: 3px solid #65e2d9;
  color: #0b1523;
  font-weight: bold;
}
main #section4 form a {
  background: linear-gradient(90deg, #65e2d9, #339ecc, #339ecc);
  color: hsl(0, 0%, 100%);
  width: 20%;
  padding: 1rem 0;
  text-align: center;
  border-radius: 5rem;
  transition: 0.6s ease-in;
}
main #section4 form a:hover {
  background: linear-gradient(90deg, #65e2d9, #65e2d9);
}
main #section4 form a {
  width: 26%;
}
main #section4 form span {
  width: 100%;
  padding: 0.2rem 5%;
  text-align: start;
  font-size: 12px;
  color: #ff4242;
  opacity: 0;
}
main footer {
  background: #0b1523;
  padding: 0 10%;
  padding-top: 25vh;
}
main footer .logo {
  display: block;
  text-align: start;
}
main footer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin: 5rem 0;
  color: #b6bdc5;
}
main footer ul li {
  width: 50%;
}
main footer ul li:first-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  color: hsl(0, 0%, 100%);
}
main footer ul li:first-child address {
  width: 90%;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  line-height: 1.5rem;
  font-weight: 100;
}
main footer ul li:nth-child(2) div:first-child {
  margin-bottom: 0.5rem;
}
main footer ul li:nth-child(2) div {
  border-bottom: 1px solid transparent;
  transition: 0.4s ease;
  cursor: pointer;
}
main footer ul li:nth-child(2) div a {
  color: #b6bdc5;
}
main footer ul li:nth-child(2) div svg {
  margin-right: 0.5rem;
}
main footer ul li:nth-child(2) div:hover {
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
main footer ul li:nth-child(2) div:hover a {
  color: hsl(0, 0%, 100%);
}
main footer ul li:nth-child(3) a, main footer ul li:nth-child(4) a {
  display: block;
  color: #b6bdc5;
  margin-bottom: 0.5rem;
  transition: 0.4s ease;
}
main footer ul li:nth-child(3) a:hover, main footer ul li:nth-child(4) a:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}
main footer ul li:last-child {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main footer ul li:last-child a {
  display: block;
  border: 1.5px solid #b6bdc5;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  transition: 0.4s ease;
}
main footer ul li:last-child a svg {
  width: 100%;
  height: 100%;
  fill: #b6bdc5;
}
main footer ul li:last-child a:hover {
  border-color: #65e2d9;
}
main footer ul li:last-child a:hover svg {
  fill: #65e2d9;
}
main footer .attribution {
  text-align: center;
  color: #b6bdc5;
  padding: 1rem;
  font-size: 12px;
}
main footer .attribution a {
  color: #b6bdc5;
  font-size: 15px;
  transition: 0.4s ease;
}
main footer .attribution a:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}

@media (max-width: 1600px) {
  main #section2 .sectionText h2 {
    width: 60%;
  }
  main #section2 .sectionText p {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  main #section4 form input {
    width: 65%;
  }
  main #section4 form a {
    width: 30%;
  }
}
@media (max-width: 1200px) {
  main header h1 {
    width: 60%;
    font-size: calc(16px + 1.5vw);
  }
  main header p {
    width: 50%;
  }
  main #section2 .sectionText h2 {
    width: 100%;
    font-size: calc(16px + 0.6vw);
  }
  main #section2 .sectionText p {
    line-height: 1.2rem;
  }
  main #section2, main #section3 {
    padding: 0 5%;
  }
  main #section4 {
    width: 80%;
  }
}
@media (max-width: 990px) {
  main header h1 {
    width: 70%;
  }
  main header p {
    width: 60%;
  }
  main header a {
    width: 25%;
  }
  main #section2 {
    margin: 25% 0;
    gap: 15vw;
  }
  main #section2, main #section3 ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main #section3 {
    padding: 0 20%;
  }
  main #section3 ul {
    gap: 4vw;
  }
  main #section4 form {
    position: relative;
  }
  main #section4 form input {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  main #section4 form a {
    width: 50%;
  }
  main #section4 form span {
    top: 3rem;
    left: 0;
    position: absolute;
  }
  main footer ul {
    flex-direction: column;
    align-items: flex-start;
  }
  main footer ul li:last-child {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 720px) {
  main nav {
    padding: 10% 5%;
  }
  main nav ul {
    gap: 2rem;
  }
  main nav ul li a {
    font-size: 14px;
  }
  main header {
    background-image: url("../images/bg-curvy-mobile.svg");
    margin-bottom: 10vw;
  }
  main header .image {
    width: 100%;
    height: auto;
    padding: 0 10%;
  }
  main header .image img {
    width: 100%;
    height: auto;
  }
  main header h1 {
    width: 80%;
  }
  main header p {
    width: 70%;
  }
  main header a {
    width: 50%;
  }
  main #section1 {
    padding: 0 10%;
  }
  main #section1 ul li {
    width: 100%;
  }
  main #section3 {
    padding: 0 10%;
  }
  main #section4 {
    padding: 10vw 5vw;
  }
}
@media (max-width: 600px) {
  main nav {
    width: 100%;
  }
  main nav .logo {
    width: 100px;
    height: 30px;
  }
  main nav ul {
    gap: 1rem;
  }
  main header {
    padding: 0 1rem;
    margin-bottom: 20vw;
  }
  main header h1, main header p, main header .image {
    width: 100%;
  }
  main header a {
    width: 60%;
  }
  main header .image {
    padding: 5%;
  }
  main #section3 {
    padding: 0 5%;
  }
  main #section4 {
    width: 90%;
  }
  main #section4 form a {
    width: 80%;
  }
  main footer ul {
    gap: 3rem;
  }
  main footer ul li {
    width: 100%;
  }
}
@media (max-width: 400px) {
  main nav .logo {
    width: 80px;
  }
  main nav ul {
    gap: 0.5rem;
  }
  main #section1 {
    padding: 0 5%;
  }
  main #section3 ul {
    gap: 8vw;
  }
  main #section3 ul li div .image {
    width: 2rem;
    height: 2rem;
  }
}/*# sourceMappingURL=syle.css.map */