@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
//Colors
//Primary

$Purple:#854dff;
$Lightred:#ff5757;

//Neutral
$White:hsl(0,0%,100%);
$Offwhite:hsl(0,0%,94%);
$Lightgrey:hsl(0,0%,86%);
$Smokeygrey:hsl(0,1%,44%);
$Offblack:hsl(0,0%,8%);

//Typography
//BodyCopy
$Fontsize:32px; // inputs
$ffamily : 'Poppins', sans-serif;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    letter-spacing: .1rem;
    font-family: $ffamily;
}

@mixin dflex($val,$val2:'',$val3:'',$val4:'') {
    display: flex;
    flex-direction: $val;
    @if($val2!=''){
        justify-content: $val2;
    }
    @if($val3!=''){
        align-items: $val3;
    }
    @if($val4!=''){
        flex-wrap: $val4;
    }
}

main {
    width: 100%;
    min-height: 100vh;
    @include dflex(column,center,center);
    background-color: $Lightgrey;
    .B_Container {
        width: 55vw;
        background-color: $White;
        padding: 3.5vw 5vw;
        border-radius: 1.5rem 1.5rem calc(2vw + 5rem) 1.5rem;
        form {
            width: 100%;
            text-align: end;
            label, input {
                color: $Smokeygrey;
                text-transform: uppercase;
            }
            label {
                font-weight: 600;
            }
            input {
                font-size: calc(18px + 1vw);
            }
            ul {
                width: 100%;
                @include dflex(row,flex-start,center,wrap);
                gap: 1.5rem;
                li {
                    @include dflex(column,center,flex-start);
                    gap: .5rem;
                    span {
                        color: $Lightred;
                        font-size: 12px;
                    }
                }
                border-bottom: 1px solid $Lightgrey;
                padding-bottom: 2.5rem;
            }
            button {
                background: $Purple;
                padding: 1rem;
                border-radius: 100%;
                margin-top: -2.5rem;
            }
        }
        .inf {
            font-size: calc(16px + 4.3vw);
            font-weight: 800;
            p {
                font-style: italic;
                span {
                    color: $Purple;
                }
            }
        }
    }
}

footer {
    text-align: center;
    padding: .5rem 0;
    color: $Smokeygrey;
    font-size: 14px;
    a {
        color: black;
        font-size: 16px;
        transition: .3 ease;
        color: $Purple;
        &:hover {
            color: $Lightred;
        }
    }
}

input {
    border: 2px solid $Lightgrey;
    font-size: $Fontsize;
    padding: .5rem;
    text-align: center;
    border-radius: .5rem;
    &:focus {
        border-color: $Smokeygrey;
        outline: none;
    }
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

@media(max-width : 1200px) {
    main {
        .B_Container {
            width: 70%;
        }
    }
}

@media(max-width : 990px) {
    main {
        .B_Container {
            width: 80%;
        }
    }
}

@media(max-width : 720px) {
    main {
        padding: 0 calc(.5rem + 1.5vw);
        .B_Container {
            width: 100%;
            padding: 10vw calc(5vw + 1rem);
            form {
                text-align: center;
                ul {
                    padding-bottom: 5rem;
                    flex-wrap: nowrap;
                    li {
                        width: 100%;
                        gap: .2rem;
                        input {
                            width: 100%;
                            font-size: 18px;
                        }
                        label {
                            font-size: 14px;
                        }
                        
                    }
                }
                button {
                    svg {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .inf {
                margin: 2rem 0;
                font-size: calc(16px + 6vw);
            }
        }
    }
}

@media(max-width : 600px) {
    main {
        .B_Container {
            padding: 5rem 1rem;
            form {
                ul {
                    gap: .5rem;
                }
            }
        }
    }
}